[Unit]
Description=Hardened Firewall Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firewall/firewall start
ExecStop=/usr/local/bin/firewall/firewall stop
ExecReload=/usr/local/bin/firewall/firewall start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
